@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.actions {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-presupuesto {
  text-align: center;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }
  .titulo-presupuesto {
    font-size: 20px;
  }
  .tabla Button{
  
    margin-top: 5px;
  }
}